span{
    position: relative;
    height: 100px;
    width: 67px;
    display: flex;
    text-align: center;
    padding-top: 100px;
    margin: 10px auto;
}
span:before {
    border-left: 1px solid grey;
    content: "";
    display: block;
    height: 40px;
    left: 34px;
    position: absolute;
    top: 30px;
    width: 1px;
    z-index: 0;
}
/* 
span:after {
    border-left: 1px solid black;
    content: "";
    display: block;
    height: 67px;
    left: 32px;
    position: absolute;
    top: 123px;
} */


#span{
    background-color: darkgreen;
    display: flex;
    gap: 100px;
    height: 50px;
}
nav{
    display: flex;
    gap: 100px;
}
#landing{
    display: flex;
    gap: 50px;
    background-position: center;
}
.jar{
display: flex;

}

#lotus{
display: flex;
}